/* *{
    margin: 0;
    padding: 0;
}
.todo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: turquoise;
}
.todos {
    background-color: white;
    bottom: 0;
} */

